@import url("https://fonts.googleapis.com/css2?family=Dosis:wght@200..800&family=Lato:ital,wght@0,100;0,300;0,400;0,700;0,900;1,100;1,300;1,400;1,700;1,900&family=Mulish:ital,wght@0,200..1000;1,200..1000&display=swap");
@import url("https://cdnjs.cloudflare.com/ajax/libs/slick-carousel/1.6.0/slick.min.css");
@import url("https://cdnjs.cloudflare.com/ajax/libs/slick-carousel/1.6.0/slick-theme.min.css");
@import url("https://fonts.googleapis.com/css2?family=Lato:ital,wght@0,100;0,300;0,400;0,700;0,900;1,100;1,300;1,400;1,700;1,900&family=Mulish:ital,wght@0,200..1000;1,200..1000&display=swap");
* {
  padding: 0;
  margin: 0;
}

body {
  font-family: "Lato", sans-serif;
  font-size: 14px;
}

.container {
  max-width: 90%;
}

@media (min-width: 1300px) {
  .container,
  .container-lg,
  .container-md,
  .container-sm,
  .container-xl {
    max-width: 1200px;
  }
}
.bg-blue {
  background: #233a95;
}

.headerWrapper .top-strip {
  padding: 10px 0;
}

nav .row {
  padding-bottom: 20px;
  border-bottom: 1px solid #ccc;
}

.headerWrapper .top-strip p {
  color: #fff;
  font-weight: 500;
}

.headerWrapper .header {
  width: 100%;
  height: auto;
  padding: 30px 0;
}

.logoWrapper img {
  width: 100%;
}

.headerWrapper .header .part2 .countryDrop {
  padding: 10px 17px;
  text-align: left;
  justify-content: flex-start;
  width: 150px;
  height: 60px;
  min-width: 150px;
  border: 1px solid rgba(0, 0, 0, 0.2);
  border-radius: 7px;
  line-height: 16px;
}

.headerWrapper .header .part2 .countryDrop .ml-auto svg {
  opacity: 0.8;
}

.headerWrapper .header .part2 .countryDrop .label {
  text-transform: capitalize !important;
  font-size: 12px !important;
  opacity: 0.5;
  color: #000;
}

.headerWrapper .header .part2 .countryDrop .name {
  text-transform: capitalize !important;
  font-size: 15px !important;
  color: #4d629c;
  font-weight: 700;
}

.locationModal .MuiPaper-rounded {
  padding: 20px;
  position: relative;
}

.locationModal-text {
  font-size: 18px;
  color: #000;
  opacity: 0.8;
}

.locationModal .closeBtn {
  position: absolute;
  top: 5px;
  right: 5px;
  font-size: 30px;
  color: #000;
}

.headerSearch {
  width: 60%;
  height: 60px;
  background: #f3f4f7;
  position: relative;
}

.headerSearch button {
  position: absolute;
  top: 10px;
  right: 0;
  z-index: 100;
  min-width: 40px;
  height: 40px;
  color: #000;
  border-radius: 50%;
}

.headerSearch button svg {
  font-size: 30px;
}

.headerSearch input {
  background: transparent !important;
  outline: none;
  border: 0px;
  color: rgba(0, 0, 0, 0.8) !important;
  width: 100%;
  height: 58px;
  padding: 0 25px;
}

.countryList {
  margin-top: 15px;
  max-height: 400px;
  overflow-y: scroll;
}

.countryItem button {
  display: flex;
  justify-content: flex-start;
  width: 100%;
  color: #000;
  padding: 15px;
}

.countryItem.active {
  background: #ccc;
}

.part3 .circle {
  align-items: center;
  justify-content: center;
  min-width: 50px;
  height: 50px;
  opacity: 0.8;
  color: #000;
  border: 1px solid #ccc;
  border-radius: 50%;
}

.cartTab button {
  background: #fff1ee !important;
}

.cartCount {
  background: red;
  color: #fff;
  padding: 5px;
  border-radius: 50%;
  top: -4px;
  right: 0;
  width: 20px;
  height: 20px;
}

nav .navPart1 {
  max-width: 22%;
}

.sidebarNav {
  padding: 20px;
  transition: all ease-in-out 0.5s;
  background: #fff;
}

.navPart1 .cartWrapper {
  z-index: 100;
  position: relative;
}

.navPart1 .sidebarNav {
  position: absolute;
  left: -48px;
  min-width: 270px;
  top: 70px;
  border: 1px solid #ccc;
}

.sidebar-item {
  width: 200px;
}

.sidebar-item a {
  display: block;
}

.sidebar-item {
  position: static;
  width: 100% !important;
}

.sidebar-link svg {
  color: #000;
  top: 50%;
  transform: translateY(-50%);
  position: absolute;
  font-size: 24px;
}

.navIconLeft {
  left: 0;
}

.navIconRight {
  left: 200px;
}

.sidebarNav .submenu {
  width: 100%;
  height: auto;
  text-align: left;
  background: #fff;
  z-index: 100;
  position: absolute;
  top: 0;
  display: block;
  left: 100%;
  padding: 0;
  transition: all ease-in-out 0.2s;
}

.submenu button:hover {
  background: #ccc;
}

.sidebarNav .sidebar-item .submenu a {
  font-size: 13px !important;
  font-weight: 400 !important;
}

.sidebarNav .sidebar-item a {
  color: #000;
  margin-right: auto;
  margin-left: 30px;
  text-decoration: none !important;
  font-size: 13px;
}

.sidebar-item:hover .submenu {
  opacity: 1;
  visibility: visible;
}

nav .allCartTab {
  background: #2bbef9;
  color: #fff;
  /* padding: 7px; */
  line-height: 50px;
  border-radius: 26px;
  min-width: 50px;
  cursor: pointer;
}

nav .allCartTab .text {
  font-weight: 600;
}

.allCartTab .menu {
  transform: translateY(-50%);
  top: 50%;
  left: -28px;
  font-size: 20px;
}

.allCartTab .angle {
  transform: translateY(-50%);
  top: 50%;
  right: -28px;
  font-size: 20px;
}

.navPart2 {
  text-align: right;
}

.navPart2 ul {
  margin-bottom: 0px;
}

.navPart2 ul li a:hover {
  color: #2bbef9;
}

.navPart2 .list-inline-item {
  position: relative;
}

.navPart2 .list-inline-item {
  white-space: nowrap;
}

.navPart2 .submenu {
  position: absolute;
  z-index: 100;
  background: #fff;
}

.submenu {
  visibility: hidden;
  opacity: 0;
  display: flex;
  flex-direction: column;
  top: 100%;
  bottom: auto;
  left: 7px;
  right: 0;
  min-width: 250px;
  text-align: left;
  padding: 20px 10px;
  transition: all 0.3 ease-in-out;
}

.navPart2 ul li:hover .submenu {
  visibility: inherit;
  opacity: 1;
}

.submenu a {
  padding: 10px 0 !important;
  font-size: 16px !important;
  font-weight: 650 !important;
}

.navPart2 ul li a {
  font-family: "Dosis", sans-serif;
  font-size: 18px;
  color: #000;
  text-decoration: none;
  padding: 0 15px;
  font-weight: 550;
  opacity: 0.8;
  text-transform: uppercase;
  margin-right: auto;
}

.navPart2 ul li a svg {
  font-size: 20px;
  margin-right: 3px;
}

/* Banner */
.bannerItem {
  height: 400px;
  object-fit: cover;
}

.homeBannerSection .banner01 {
  overflow: hidden;
  width: 100%;
}

.homeProducts {
  padding: 25px 0;
  width: 100%;
}

.product2 .productWrap {
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  gap: 7px;
}
.product2 .productWrap .productItem {
  overflow: hidden;
}

footer {
  width: 100%;
  height: 500px;
  padding: 35px 0;
  background: #fff;
  margin: auto;
}

.footerTop {
  border-bottom: 1px solid rgba(204, 204, 204, 0.5);
  padding-bottom: 50px;
}
.footerTop .row {
  flex-wrap: nowrap;
}
.footerTop .col {
  gap: 10px;
  display: flex;
  align-items: center;
}
.footerTop .col svg {
  font-size: 25px;
}
.footerTop .col p {
  margin-bottom: 0;
  font-weight: 500;
  white-space: nowrap;
}
.footerTop .line {
  width: 2px;
  height: auto;
  background: #ccc;
  opacity: 0.5;
  margin: 0 25px;
}

.footerBottom {
  margin-top: 100px;
}
.footerBottom h5 {
  font-size: 15px;
  text-transform: uppercase;
  font-weight: 550;
}
.footerBottom ul li {
  margin: 6px 0;
  color: rgba(0, 0, 0, 0.5);
}

.copyright {
  display: flex;
  align-items: center;
}
.copyright .list-inline-item:hover a {
  background: #2bbef9;
}
.copyright .list-inline-item:hover svg {
  color: #fff;
}
.copyright .list-inline-item a {
  display: flex;
  align-items: center;
  justify-content: center;
  min-width: 40px;
  height: 40px;
  border: 1px solid #ccc;
  border-radius: 50%;
}
.copyright .list-inline-item svg {
  color: #000;
  font-size: 20px;
}

.homeBannerSection {
  overflow: inherit;
}
.homeBannerSection .slick-track {
  display: flex;
  gap: 1rem;
}

.homeProducts-title {
  font-size: 22px;
  font-weight: 500;
  text-transform: uppercase;
}

.homeProducts-desc {
  font-size: 15px;
  white-space: nowrap;
  color: #8a8a8a;
}

.homeProducts-btn {
  position: relative;
}
.homeProducts-btn button {
  font-size: 10px;
  width: 100px;
  color: #000;
  font-weight: 550;
  opacity: 0.9;
  border-radius: 17px;
  border: 1px solid rgba(0, 0, 0, 0.8) !important;
  margin-bottom: 0px !important;
}
.homeProducts-btn span {
  height: 100%;
  line-height: 15px;
}
.homeProducts-btn svg {
  position: absolute;
  top: 49%;
  transform: translateY(-50%);
  right: 10px;
}

.productItem {
  border: 1px solid #ccc;
  width: 100%;
  height: auto;
  overflow: hidden;
}
.productItem:hover .imgWrapper .actions {
  right: 0;
  opacity: 1;
  visibility: visible;
}
.productItem:hover .imgWrapper img {
  scale: 1.1;
}
.productItem .imgWrapper {
  width: 100%;
  position: relative;
}
.productItem .imgWrapper img {
  transition: all ease-in-out 0.2s;
}
.productItem .imgWrapper .badge-primary {
  padding: 8px;
  position: absolute;
  top: 0;
  left: 0;
  font-size: 13px;
  background: #2bbef9;
}
.productItem .imgWrapper .actions {
  position: absolute;
  top: 0;
  right: -16px;
  z-index: 100;
  opacity: 0;
  visibility: hidden;
  transition: all ease-in-out 0.2s;
}
.productItem .imgWrapper .actions button {
  display: flex;
  align-items: center;
  justify-content: center;
  border: 1px solid #ccc;
  border-radius: 50%;
  min-width: 40px;
  height: 40px;
  color: #000;
  background: #fff;
}
.productItem .imgWrapper .actions button:hover {
  background: #233a95;
  color: #fff;
}
.productItem .title {
  font-size: 15px;
  font-weight: 600;
}
.productItem .rating {
  font-size: 14px;
}
.productItem .text-success {
  font-size: 10px;
  font-weight: 600;
}
.productItem .oldPrice {
  color: rgba(0, 0, 0, 0.4);
  font-size: 14px;
  font-weight: bold;
  text-decoration: line-through;
}
.productItem .nextPrice {
  font-weight: bold;
  font-size: 16px;
}

.productWrap {
  padding-right: 5px;
}

.homeCat {
  position: relative;
}
.homeCat .homeCatHeading {
  text-transform: uppercase;
}
.homeCat button {
  min-width: 50px;
  height: 50px;
  border-radius: 50%;
  background: #f2f3f4;
  outline: none;
  border: none;
}
.homeCat .actions {
  position: absolute;
  top: -27px;
  right: 166px;
  text-align: center;
}
.homeCat .actions svg {
  color: #2bbef9;
}

.homeCatList .slick-track {
  display: flex;
  gap: 1rem;
}

.homeCatItem {
  display: flex;
  align-items: center;
  flex-direction: column;
  justify-content: center;
  border-radius: 7px;
  padding: 20px;
  width: 100%;
  height: auto;
  cursor: pointer;
}
.homeCatItem .imgWrapper {
  padding: 20px;
  width: 120px;
}
.homeCatItem img {
  text-align: center;
  height: auto;
  width: 100%;
}
.homeCatItem .info {
  text-align: center;
}
.homeCatItem .info h6 {
  font-size: 13px;
  white-space: nowrap;
  font-weight: 650;
}
.homeCatItem .info span {
  color: rgba(0, 0, 0, 0.5);
}

.sticky {
  position: sticky;
  top: 10px;
}

.bannerSec {
  gap: 15px;
}

.homeNewsletter {
  overflow: hidden;
  margin-bottom: 100px;
  width: 100%;
  background: #233a95;
  height: 380px;
  position: relative;
  padding: 50px;
}
.homeNewsletter .left .desc {
  font-size: 17px;
  font-weight: 300;
  margin-bottom: 0;
}
.homeNewsletter .left h2 {
  font-weight: 700;
}
.homeNewsletter .left h2 + p {
  line-height: 1.7;
}
.homeNewsletter .left .form {
  width: 100%;
  display: flex;
  align-items: center;
}
.homeNewsletter .left .form svg {
  position: absolute;
  color: #000;
  opacity: 0.5;
  z-index: 100;
  left: 28px;
  font-size: 22px;
}
.homeNewsletter .left .form input {
  text-indent: 20px;
  position: relative;
  padding: 20px;
  width: 90%;
}
.homeNewsletter .left .form input:placeholder-shown, .homeNewsletter .left .form input:focus {
  outline: none;
}
.homeNewsletter .left .form button {
  margin-left: -87px;
  height: 55px;
  background: #233a95;
  color: #fff;
  text-transform: none;
}
.homeNewsletter .right {
  width: 100%;
  position: absolute;
  bottom: -52%;
  right: 0;
}

@f;
.productModal {
  border-radius: 20px;
}
.productModal .MuiPaper-root {
  min-width: 1000px !important;
}

.productModalWrapper {
  padding: 70px;
}
.productModalWrapper .swiper-button-prev,
.productModalWrapper .swiper-button-next {
  color: #ccc;
}

.productModalTop {
  position: relative;
}
.productModalTop .line {
  margin: 0 10px;
  width: 1px;
  height: 22px;
  background: #ccc;
}
.productModalTop .modalHeading {
  font-weight: 700;
  font-size: 25px;
  margin-right: auto;
}
.productModalTop p {
  font-size: 12px;
  color: rgba(0, 0, 0, 0.5);
}
.productModalTop p span {
  color: #000;
}
.productModalTop .rating {
  font-size: 15px !important;
}
.productModalTop .rating + span {
  text-transform: uppercase;
  font-weight: 400;
  color: rgba(0, 0, 0, 0.5);
  font-size: 12px;
}
.productModalTop .closeBtn {
  border-radius: 50%;
  min-width: 40px;
  height: 40px;
  background: #ccc;
  position: absolute;
  top: -27px;
  right: -12px;
}
.productModalTop .closeBtn svg {
  color: #fff;
}

.modalImg {
  width: 100%;
}

.productMediaModal .badge {
  top: 0;
  left: 50px;
  z-index: 100;
  padding: 6px;
  background: #2bbef9;
}
.productMediaModal .badge + .badge {
  background: #71778e;
  top: 30px;
  left: 50px;
  text-transform: uppercase;
}
.productMediaModal .oldPrice {
  font-size: 23px;
  text-decoration: line-through;
  color: rgba(0, 0, 0, 0.5);
  font-weight: 600;
}
.productMediaModal .nextPrice {
  font-size: 27px;
  font-weight: 600;
}
.productMediaModal .text {
  line-height: 35px;
  padding: 0 10px;
  background: #e5f8ed;
  margin-left: -9px !important;
  border-radius: 5px;
  text-transform: uppercase;
}
.productMediaModal .action .count button {
  border-radius: 50%;
  min-width: 40px;
  height: 40px;
  color: #000;
  background: #edeef5;
}
.productMediaModal .action .count button:hover {
  background: #ffcd00;
}
.productMediaModal .action .addCart {
  min-width: 200px;
  background: #233a95;
  color: #fff;
  border-radius: 999px;
}
.productMediaModal .favoriteItem {
  margin-top: 20px;
}
.productMediaModal .favoriteItem button {
  border: 1px solid #ccc !important;
  border-radius: 999px;
  color: rgba(0, 0, 0, 0.5);
  font-size: 12px;
  font-weight: 600;
}
.productMediaModal .favoriteItem button svg {
  font-size: 17px;
}
.productMediaModal .favoriteItem button + button {
  margin-left: 10px;
  border: none !important;
}

/*# sourceMappingURL=styles.css.map */
